.main-content {
    width: 100vw;
    object-fit: cover;
    display: block;
    height: 100vh;
    position: absolute;
    background-color: rgb(175, 175, 175);
    padding: 20px;
}

.titlePage{
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 40px;
}
.countdown{
    display: flex;
    width: 100vw;
}
.number{
    background-color: rgb(200, 200, 200);
    padding-bottom: 40px;
    margin-top: 20px;
    margin-left:1%;
    margin-right: 1%;
    padding-top: 1px;
    width: 14.25%;
    border-radius: 20px;
    font-size: x-large;
    outline: 2px solid gray;
}
.number h1{
    font-size: xxx-large;
}